.Dropdown {
  margin: 10px;
  @media (min-width: 768px) {
    display: none;
  }
}

.menu {
  display: none;
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
}



.homePageHeader {

  &__optionsNavList {
    display: flex;
    flex-direction: row;
    &--item {
      margin: 10px;
      list-style-type: none;
    }
  }
  &__actionsNavList {
    display: flex;
    flex-direction: row;
    &--item {
      margin: 10px;
      list-style-type: none;
      
    }
    &--img{
        width: 20px;
        height: 20px;
    }
  }
}

.input-wrapper {
  position: relative;
  width: 271px;
}

.input {
  box-sizing: border-box;
  color: #191919;
  padding: 5px 5px 5px 35px;
  width: 100%;
}

.input-icon {
  color: #191919;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
