.imageBackground{
    width: 100vw;
    height: 100vh;
    background-image: url('https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2018/06/series-netflix.jpg?itok=e_UM8TMx');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    //filter: brightness(0.5);
  
}