.fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  height: max-content;
  background-color: black;
  &__title {
    font-family: sans-serif;
    padding: 16px;
    color: white;
  }
}

.form {
  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
  margin-right: 15px;
  width: auto;
  @media (min-width: 768px) {
    gap: 5px;
  }

  &__input {
    height: 45px;
    font-size: 16px;
    border: 1px solid;
    padding: 11px 0 15px 15px;
    outline: none;
    border: none;
  }
  &__label {
    font-size: 14px;
    color: gray;
    width: 100%;
    padding-bottom: 7px;
    @media (min-width: 768px) {
      margin-top: 13px;
    }
  }
  &__together {
    @media all and (min-width: 1200px) {
      display: flex;
      gap: 5px;
    }
    &--item {
      width: 100%;
      height: 45px;
      font-size: 16px;
      border: 1px solid;
      padding: 11px 0 15px 15px;
      outline: none;
      border: none;
    }
  }
}

.container-buttom {
  @media (min-width: 768px) {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.container-button__item {
  background-color: red;
  text-transform: uppercase;
  color: white;
  border: 0;
  height: 45px;
  width: 100%;
  margin-top: 22px;
  margin-bottom: 22px;
  border-radius: 4px;
  font-size: 16px;

  @media (min-width: 768px) {
    height: 45px;
    width: 206px;
  }
}

.errorSignUpMessage {
  color: white;
  padding: 20px;
 
}
