.SignInContainer {
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.7;
  height: max-content;
  width: max-content;

  &__title {
    color: white;
    font-family: sans-serif;
    margin: 10px;
  }
  &__form {
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
    gap: 5px;
    &--input {
      height: 45px;
      font-size: 16px;
      border: 1px solid;
      padding: 11px 0 15px 15px;
    }
    &--btn {
      background-color: red;
      text-transform: uppercase;
      color: white;
      border: 0;
      height: 45px;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 30px;
      border-radius: 4px;
      font-size: 16px;
    }
  }
}

.formDetails {
  display: flex;
  justify-content: space-between;
  &__remember {
    color: white;
  }
  &__help {
    color: white;
  }
  &__createAnAccount {
    color: white;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.errorLoginMessage {
  color: white;
}
