@import "../core/Variables.scss";

.SignInContainer {
  background-color: $colorBlack;
  margin-left: auto;
  margin-right: auto;
  height: min-content;
  width: min-content;
  @media (min-width: 769px) {
    height: max-content;
    width: max-content;
  }

  &__title {
    @include formContainerTitle;
  }
  &__form {
    @include form;
    gap: 5px;
    &--input {
      @include inputForm;
    }
    &--btn {
      @include btnForm;
    }
  }
}

.formDetails {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &__remember {
    color: $colorWhite;
    font-size: 12px;
    padding-left: 2px;
    font-family: $fontFamily;
    @media (min-width: 768px) {
      font-size: 16px;
    }
  }
  &__help {
    color: $colorWhite;
    font-size: 12px;
    font-family: $fontFamily;
    @media (min-width: 768px) {
      font-size: 16px;
    }
  }
  &__createAnAccount {
    color: $colorWhite;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.errorLoginMessage {
  color: $colorWhite;
  font-family: $fontFamily;
  font-size: 13px;
  @media (min-width: 768px) {
    font-size: 16px;
  }
}
